@mixin fontsStyles {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $--second-color;
}


@mixin Burger ($position: relative) {
    position: $position;
    width: 18px;
    height: 2px;
    background-color: $--second-color;
    border-radius: 2px;
}